In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [17]:
data = pd.read_csv('movie_bd_v5.csv')
data.head()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [7]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [36]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [37]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = f'{movie[0]} ({movie[1]})'
# если ответили верно, можете добавить комментарий со значком "+"

In [38]:
movie= data.loc[data.budget.idxmax()][[ 'original_title','imdb_id']].values
answers

{'1': 'The Lone Ranger (tt1210819)'}

ВАРИАНТ 2

In [39]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [40]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = f'{movie[0]} ({movie[1]})'

In [41]:
movie= data.loc[data.runtime.idxmax()][[ 'original_title','imdb_id']].values
answers

{'1': 'The Lone Ranger (tt1210819)',
 '2': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'}

# 3. Какой из фильмов самый короткий (в минутах)?

In [42]:
movie= data.loc[data.runtime.idxmin()][[ 'original_title','imdb_id']].values
answers['3'] = f'{movie[0]} ({movie[1]})'
answers

{'1': 'The Lone Ranger (tt1210819)',
 '2': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': 'Winnie the Pooh (tt1449283)'}

# 4. Какова средняя длительность фильмов?

In [43]:
answers['4'] = data.runtime.mean()
answers

{'1': 'The Lone Ranger (tt1210819)',
 '2': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884}

# 5. Каково медианное значение длительности фильмов?

In [44]:
answers['5'] = data.runtime.median()
answers

{'1': 'The Lone Ranger (tt1210819)',
 '2': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0}

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [45]:
data['profit']= data.revenue - data.budget

In [46]:
movie= data.loc[data.profit.idxmax()][[ 'original_title','imdb_id']].values
answers['6'] = f'{movie[0]} ({movie[1]})'
answers

{'1': 'The Lone Ranger (tt1210819)',
 '2': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)'}

# 7. Какой фильм самый убыточный?

In [47]:
movie= data.loc[data.profit.idxmin()][[ 'original_title','imdb_id']].values
answers['7'] = f'{movie[0]} ({movie[1]})'
answers

{'1': 'The Lone Ranger (tt1210819)',
 '2': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)'}

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [48]:
answers['8'] = len(data[data['profit']>0])
answers

{'1': 'The Lone Ranger (tt1210819)',
 '2': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478}

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [55]:
data2=data[data.release_year==2008]
movie= data2.loc[data2.profit.idxmax()][[ 'original_title','imdb_id']].values
answers['9'] = f'{movie[0]} ({movie[1]})'
answers

{'1': 'The Lone Ranger (tt1210819)',
 '2': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)'}

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [56]:
data2=data[data.release_year.isin(list(range(2012,2015)))]
movie= data2.loc[data2.profit.idxmin()][[ 'original_title','imdb_id']].values
answers['10'] = f'{movie[0]} ({movie[1]})'
answers

{'1': 'The Lone Ranger (tt1210819)',
 '2': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)'}

# 11. Какого жанра фильмов больше всего?

In [50]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [61]:
answers['11'] = data.genres.value_counts().nlargest(1).index[0]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [64]:
data2= data[data.profit>0].genres.value_counts().nlargest(1).index[0]
answers['12']= data2
answers

{'1': 'The Lone Ranger (tt1210819)',
 '2': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Comedy',
 '12': 'Comedy'}

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [146]:
data2= data.groupby('director')['revenue'].sum().nlargest(1).index[0]
answers['13']= data2
data2

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [152]:
data2= data[data.genres=='Action']
answers['14']= data2.director.value_counts().nlargest(1).index[0]
data2

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
25,tt2381249,150000000,682330139,Mission: Impossible - Rogue Nation,Tom Cruise|Jeremy Renner|Simon Pegg|Rebecca Fe...,Christopher McQuarrie,Desperate Times. Desperate Measures.,Ethan and team take on their most impossible m...,131,Action,Paramount Pictures|Skydance Productions|China ...,7/23/2015,7.1,2015
298,tt0473705,60000000,87784194,State of Play,Russell Crowe|Ben Affleck|Rachel McAdams|Robin...,Kevin Macdonald,Find The Truth,"Handsome, unflappable U.S. Congressman Stephen...",127,Action,Universal Pictures|StudioCanal|Andell Entertai...,4/17/2009,6.6,2009
307,tt0465580,38000000,45465299,Push,Dakota Fanning|Camilla Belle|Chris Evans|Djimo...,Paul McGuigan,One push can change everything.,"After his father, an assassin, is brutally mur...",111,Action,Icon Productions|Infinity Features Entertainme...,2/6/2009,5.8,2009
389,tt0955308,200000000,310669540,Robin Hood,Russell Crowe|Cate Blanchett|Mark Strong|Oscar...,Ridley Scott,"Rise and rise again, until lambs become lions.",When soldier Robin happens upon the dying Robe...,140,Action,Imagine Entertainment|Universal Pictures|Scott...,5/12/2010,6.1,2010
419,tt1038919,40000000,136000000,The Bounty Hunter,Gerard Butler|Jennifer Aniston|Gio Perez|Siobh...,Andy Tennant,"It's a Job. It Isn't Personal. Well, Maybe a L...",Milo Boyd is a bounty hunter whose latest gig ...,110,Action,Columbia Pictures|Original Film|Relativity Med...,3/16/2010,5.5,2010
583,tt0132245,94000000,54744738,Driven,Kip Pardue|Robert Sean Leonard|Til Schweiger|E...,Renny Harlin,Get ready for the race of your life.,Talented rookie race-car driver Jimmy Bly has ...,116,Action,Epsilon Motion Pictures|Franchise Pictures|Tra...,4/27/2001,4.8,2001
651,tt0467197,35000000,85416905,Max Payne,Mark Wahlberg|Mila Kunis|Beau Bridges|Ludacris...,John Moore,When a Man Has Lost Everything. He Only has Re...,Coming together to solve a series of murders i...,100,Action,Dune Entertainment|Firm Films|Collision Entert...,10/16/2008,5.3,2008
876,tt0295701,70000000,277448382,xXx,Vin Diesel|Asia Argento|Marton Csokas|Samuel L...,Rob Cohen,A New Breed Of Secret Agent.,Xander Cage is your standard adrenaline junkie...,124,Action,Columbia Pictures|Original Film|Revolution Stu...,8/9/2002,5.7,2002
1115,tt0285823,29000000,98185582,Once Upon a Time in Mexico,Antonio Banderas|Salma Hayek|Johnny Depp|Eva M...,Robert Rodriguez,The Time Has Come.,"Hitman ""El Mariachi"" becomes involved in inter...",102,Action,Columbia Pictures Corporation|Dimension Films|...,9/11/2003,6.1,2003
1169,tt0313911,28000000,58795814,Agent Cody Banks,Frankie Muniz|Hilary Duff|Angie Harmon|Keith D...,Harald Zwart,Save the world. Get the girl. Pass math.,Recruited by the U.S. government to be a speci...,102,Action,Splendid Pictures|Maverick Films|Metro-Goldwyn...,3/12/2003,4.9,2003
1347,tt0357277,43000000,56681566,Elektra,Jennifer Garner|Goran Visnjic|Will Yun Lee|Car...,Rob Bowman,Looks can kill,Elektra the warrior survives a near-death expe...,97,Action,Twentieth Century Fox Film Corporation|Regency...,1/13/2005,5.0,2005
1366,tt0373926,80000000,162944923,The Interpreter,Nicole Kidman|Sean Penn|Catherine Keener|Jespe...,Sydney Pollack,The truth needs no translation.,"After Silvia Broome, an interpreter at United ...",128,Action,Universal Pictures|StudioCanal|Mirage Enterpri...,4/4/2005,6.2,2005
1402,tt0382992,135000000,76932943,Stealth,Josh Lucas|Jessica Biel|Jamie Foxx|Sam Shepard...,Rob Cohen,Fear The Sky,Deeply ensconced in a top-secret military prog...,121,Action,Laura Ziskin Productions|Original Film|Columbi...,7/28/2005,5.0,2005
1519,tt0406816,70000000,55011732,The Guardian,Kevin Costner|Ashton Kutcher|Sela Ward|Melissa...,Andrew Davis,How Do You Decide Who Lives Or Who Dies?,A high school swim champion with a troubled pa...,139,Action,Contrafilm|Firm Films|Touchstone Pictures|Beac...,9/28/2006,7.0,2006
1656,tt0329691,40000000,46546197,Torque,Martin Henderson|Ice Cube|Monet Mazur|Adam Sco...,Joseph Kahn,Circuit of Fire,Biker Cary Ford is framed by an old rival and ...,84,Action,Village Roadshow Pictures|Original Film|Warner...,1/16/2004,4.8,2004
1779,tt0446013,45000000,30822861,Pathfinder,Karl Urban|Moon Bloodgood|Russell Means|Clancy...,Marcus Nispel,"Two Worlds, One War. The Ultimate Battle Begins.",A Viking boy is left behind after his clan bat...,99,Action,Twentieth Century Fox Film Corporation|Dune En...,1/11/2007,5.4,2007

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [86]:
data2= data[data.release_year== 2012]

In [87]:
db={}
def acter(row):
    
    for i in row["cast"].split('|'):
        if i in db:
            db[i]+= row["revenue"]
        else:
            db[i]= row["revenue"]

In [90]:
data2.apply(acter, axis= 1)
leader= [0,0]
for k,value in db.items():
    if value>leader[1]:
        leader= [k,value]
answers['15'] = leader[0]
answers

{'1': 'The Lone Ranger (tt1210819)',
 '2': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Comedy',
 '12': 'Comedy',
 '13': 'Peter Jackson',
 '14': 'Rob Cohen',
 '15': 'Chris Hemsworth'}

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [93]:
db={}
def acter(row):
    
    for i in row["cast"].split('|'):
        if row ['budget']>= 100000000:
            if i in db:
                db[i]+= 1
            else:
                db[i]= 1
data2.apply(acter, axis= 1)
leader= [0,0]
for k,value in db.items():
    if value>leader[1]:
        leader= [k,value]
answers['16'] = leader[0]

answers

{'1': 'The Lone Ranger (tt1210819)',
 '2': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Comedy',
 '12': 'Comedy',
 '13': 'Peter Jackson',
 '14': 'Rob Cohen',
 '15': 'Chris Hemsworth',
 '16': 'Chris Hemsworth'}

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [96]:
db={}
def acter(row):
    
     if 'Nicolas Cage' in row["cast"]:
        if row ['genres'] in db :
            db[row['genres']] += 1
        else:
            db[row['genres']] = 1
data2.apply(acter, axis= 1)
leader= [0,0]
for k,value in db.items():
    if value>leader[1]:
        leader= [k,value]
answers['17'] = leader[0]

answers

{'1': 'The Lone Ranger (tt1210819)',
 '2': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Comedy',
 '12': 'Comedy',
 '13': 'Peter Jackson',
 '14': 'Rob Cohen',
 '15': 'Chris Hemsworth',
 '16': 'Chris Hemsworth',
 '17': 'Action|Crime|Drama|Thriller'}

# 18. Самый убыточный фильм от Paramount Pictures

In [100]:
data2 = data[ data.production_companies.str.contains("Paramount Pictures")]
movie= data2.loc[data2.profit.idxmin()][[ 'original_title','imdb_id']].values
answers['18'] = f'{movie[0]} ({movie[1]})'
answers

{'1': 'The Lone Ranger (tt1210819)',
 '2': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Comedy',
 '12': 'Comedy',
 '13': 'Peter Jackson',
 '14': 'Rob Cohen',
 '15': 'Chris Hemsworth',
 '16': 'Chris Hemsworth',
 '17': 'Action|Crime|Drama|Thriller',
 '18': 'K-19: The Widowmaker (tt0267626)'}

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [103]:
data2 = data.groupby('release_year')['revenue'].sum()
answers['19'] = data2.nlargest(1).index[0]
answers

{'1': 'The Lone Ranger (tt1210819)',
 '2': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Comedy',
 '12': 'Comedy',
 '13': 'Peter Jackson',
 '14': 'Rob Cohen',
 '15': 'Chris Hemsworth',
 '16': 'Chris Hemsworth',
 '17': 'Action|Crime|Drama|Thriller',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015}

# 20. Какой самый прибыльный год для студии Warner Bros?

In [104]:
data2 = data[ data.production_companies.str.contains("Warner Bros")]
data2 = data2.groupby('release_year')['revenue'].sum()
answers['20'] = data2.nlargest(1).index[0]
answers

{'1': 'The Lone Ranger (tt1210819)',
 '2': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Comedy',
 '12': 'Comedy',
 '13': 'Peter Jackson',
 '14': 'Rob Cohen',
 '15': 'Chris Hemsworth',
 '16': 'Chris Hemsworth',
 '17': 'Action|Crime|Drama|Thriller',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014}

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [110]:
db={}
def acter(row):
    
    m = row["release_date"].split('/')[0]
    if m in db :
        db[m] += 1
    else:
        db[m] = 1
data.apply(acter, axis= 1)
leader= [0,0]
for k,value in db.items():
    if value>leader[1]:
        leader= [k,value]
answers['21'] = leader[0]

answers

{'1': 'The Lone Ranger (tt1210819)',
 '2': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Comedy',
 '12': 'Comedy',
 '13': 'Peter Jackson',
 '14': 'Rob Cohen',
 '15': 'Chris Hemsworth',
 '16': 'Chris Hemsworth',
 '17': 'Action|Crime|Drama|Thriller',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': '9'}

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [114]:
summer = 0
def acter(row):
    global summer
    m = row["release_date"].split('/')[0]
    if int(m) in [6,7,8] :
        summer += 1
data.apply(acter, axis= 1)

answers['22'] = summer

answers

{'1': 'The Lone Ranger (tt1210819)',
 '2': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Comedy',
 '12': 'Comedy',
 '13': 'Peter Jackson',
 '14': 'Rob Cohen',
 '15': 'Chris Hemsworth',
 '16': 'Chris Hemsworth',
 '17': 'Action|Crime|Drama|Thriller',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': '9',
 '22': 450}

# 23. Для какого режиссера зима – самое продуктивное время года?

In [118]:
db = {}
def acter(row):
    m = row["release_date"].split('/')[0]
    if int(m) in [1,2,12] :
        if row['director'] in db :
            db [row['director']] += 1
        else:
            db[row['director']]= 1
data.apply(acter, axis= 1)
leader= [0,0]
for k,value in db.items():
    if value>leader[1]:
        leader= [k,value]
answers['23'] = leader[0]

answers

{'1': 'The Lone Ranger (tt1210819)',
 '2': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Comedy',
 '12': 'Comedy',
 '13': 'Peter Jackson',
 '14': 'Rob Cohen',
 '15': 'Chris Hemsworth',
 '16': 'Chris Hemsworth',
 '17': 'Action|Crime|Drama|Thriller',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': '9',
 '22': 450,
 '23': 'Peter Jackson'}

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [127]:
db={}
def acter(row):
    
    for i in row["production_companies"].split("|"):
        if i in db:
            db[i]+= [len(row["original_title"])]
        else:
            db[i]= [len(row["original_title"])]
data.apply(acter, axis= 1)
leader= [0,0]
for k,value in db.items():
    value = sum(value)/ len(value)
    if value > leader[1]:
        leader= [k,value]
answers['24'] = leader[0]

answers

{'1': 'The Lone Ranger (tt1210819)',
 '2': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Comedy',
 '12': 'Comedy',
 '13': 'Peter Jackson',
 '14': 'Rob Cohen',
 '15': 'Chris Hemsworth',
 '16': 'Chris Hemsworth',
 '17': 'Action|Crime|Drama|Thriller',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': '9',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions'}

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [128]:
db={}
def acter(row):
    
    for i in row["production_companies"].split("|"):
        if i in db:
            db[i]+= [len(row["original_title"].split())]
        else:
            db[i]= [len(row["original_title"].split())]
data.apply(acter, axis= 1)
leader= [0,0]
for k,value in db.items():
    value = sum(value)/ len(value)
    if value > leader[1]:
        leader= [k,value]
answers['25'] = leader[0]

answers

{'1': 'The Lone Ranger (tt1210819)',
 '2': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Comedy',
 '12': 'Comedy',
 '13': 'Peter Jackson',
 '14': 'Rob Cohen',
 '15': 'Chris Hemsworth',
 '16': 'Chris Hemsworth',
 '17': 'Action|Crime|Drama|Thriller',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': '9',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Four By Two Productions'}

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [133]:
answers['26']= list(data[data.vote_average > data.vote_average.quantile(0.99)]['original_title'].values)
answers

{'1': 'The Lone Ranger (tt1210819)',
 '2': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Comedy',
 '12': 'Comedy',
 '13': 'Peter Jackson',
 '14': 'Rob Cohen',
 '15': 'Chris Hemsworth',
 '16': 'Chris Hemsworth',
 '17': 'Action|Crime|Drama|Thriller',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': '9',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Four By Two Productions',
 '26': ['Inside Out',
  'Room',
  'Interstellar',
  'Guardians of the Galaxy',
  'The Imitation Game',
  'Gone Girl',
  'The Grand Budapest Hotel',
  'Inception',
  'The Dark Knight',
  'The Pianist',
  'The Lord of the Rings: The Return of the King',
  'The Wolf of Wall Street',
  '12 Years a Slave',
  'Memento']}

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [143]:
db={}
def nn(row):
    cast= sorted(row['cast'].split('|'))
    for i in range(len(cast) - 1) :
        for g in range(i+1, len(cast)):
            pair = cast[i] + ', ' +cast[g]
            if pair in db:
                db[pair] += 1
            else:
                db[pair] = 1 
data.apply(nn, axis= 1)
leader= [0,0]
for k,value in db.items():
    if value>leader[1]:
        leader= [k,value]
answers['27'] = leader[0]
answers

{'1': 'The Lone Ranger (tt1210819)',
 '2': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Comedy',
 '12': 'Comedy',
 '13': 'Peter Jackson',
 '14': 'Rob Cohen',
 '15': 'Chris Hemsworth',
 '16': 'Chris Hemsworth',
 '17': 'Action|Crime|Drama|Thriller',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': '9',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Four By Two Productions',
 '26': ['Inside Out',
  'Room',
  'Interstellar',
  'Guardians of the Galaxy',
  'The Imitation Game',
  'Gone Girl',
  'The Grand Budapest Hotel',
  'Inception',
  'The Dark Knight',
  'The Pianist',
  'The Lord of the Rings: The Return of the King',
  'The Wolf of Wall Street',
  '12 Years a Slave',
  'Memento'],
 '27': 'Daniel Radcliffe, Emma Watson'}

ВАРИАНТ 2

# Submission

In [144]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'The Lone Ranger (tt1210819)',
 '2': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Comedy',
 '12': 'Comedy',
 '13': 'Peter Jackson',
 '14': 'Rob Cohen',
 '15': 'Chris Hemsworth',
 '16': 'Chris Hemsworth',
 '17': 'Action|Crime|Drama|Thriller',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': '9',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Four By Two Productions',
 '26': ['Inside Out',
  'Room',
  'Interstellar',
  'Guardians of the Galaxy',
  'The Imitation Game',
  'Gone Girl',
  'The Grand Budapest Hotel',
  'Inception',
  'The Dark Knight',
  'The Pianist',
  'The Lord of the Rings: The Return of the King',
  'The Wolf of Wall Street',
  '12 Years a Slave',
  'Memento'],
 '27': 'Daniel Radcliffe, Emma Watson'}

In [145]:
# и убедиться что ни чего не пропустил)
len(answers)

27

In [ ]:
data